/* dancing-script-regular - latin */
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Dancing Script Regular'), local('DancingScript-Regular'), url('fonts/dancing-script-v10-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('fonts/dancing-script-v10-latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* comfortaa-regular - cyrillic_latin */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''), url('fonts/comfortaa-v22-cyrillic_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('fonts/comfortaa-v22-cyrillic_latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* comfortaa-700 - cyrillic_latin */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''), url('fonts/comfortaa-v22-cyrillic_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('fonts/comfortaa-v22-cyrillic_latin-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-regular - cyrillic_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url('fonts/montserrat-v13-cyrillic_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('fonts/montserrat-v13-cyrillic_latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - cyrillic_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url('fonts/montserrat-v13-cyrillic_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('fonts/montserrat-v13-cyrillic_latin-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
body {
  background-color: #FFF;
  font-family: 'Montserrat';
}
.hidden {
  opacity: 0;
}
.main {
  width: 100%;
  position: relative;
}
.main .single {
  min-height: 70vh;
  padding-bottom: 100px;
}
.main .single img {
  float: right;
  margin: 32px 20px 20px 20px;
  width: 100%;
  max-width: 420px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0px 0px 12px #c9fff5;
}
.main .single #single-icon {
  float: left;
  margin: 9px 10px 0px 0px!important;
  width: 30px!important;
  height: auto;
  border-radius: 100%;
  box-shadow: 0px 0px 12px #c9fff5;
}
:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}
.d-none {
  display: none!important;
}
a {
  color: #181818;
}
a:hover {
  text-decoration: none;
  color: #A22F3C;
  transition: .3s;
}
section {
  padding-bottom: 15px;
  position: relative;
}
.fix-head {
  display: inline-block;
  height: 30px;
}
.compensate-for-scrollbar {
  transition: none!important;
}
.section-head {
  margin: 35px 0;
}
.section-head h1,
.section-head h2 {
  border-left: 5px solid #FCC1C8;
  border-radius: 99px;
  padding: 15px 15px;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  margin-top: 50%;
}
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
}
.socials a {
  margin: 0 2px;
}
.rounds {
  top: -110px;
  right: -100px;
  width: 500px;
  height: 500px;
  position: absolute;
  background-color: #c9fff5;
  border-radius: 100%;
  animation: move-round-green 5s linear infinite;
}
.rounds:before {
  content: "";
  top: 38px;
  right: 420px;
  width: 320px;
  height: 320px;
  position: absolute;
  background-color: #A22F3C;
  border-radius: 100%;
  animation: move-round-red 4s linear infinite;
}
.rounds:after {
  content: "";
  top: 410px;
  right: 240px;
  width: 450px;
  height: 450px;
  position: absolute;
  background-color: #FCC1C8;
  border-radius: 100%;
  z-index: -1;
  animation: move-round-pink 3s linear infinite;
}
.fancybox-content {
  padding: 30px!important;
}
input[type="text"],
input[type="email"],
input[type="url"],
select,
textarea {
  box-sizing: border-box;
  display: block;
  float: none;
  width: 100%;
  border: 1px solid #FCC1C8;
  padding: 8px 10px;
  resize: none;
  border-radius: 15px;
}
.button {
  border: 3px solid #FCC1C8;
  border-radius: 15px;
  padding: 10px 15px;
  background-color: #FFF;
  cursor: pointer;
  transition: .3s;
  font-family: 'Comfortaa';
}
.button:hover {
  color: #181818;
  background-color: #fee3e6;
  transition: .3s;
}
.button:focus {
  outline: none!important;
}
.menu-open {
  height: 45px!important;
  transition: all .6s;
  z-index: 1000!important;
  margin-top: 0px!important;
}
#nav-icon {
  width: 50px;
  height: 40px;
  right: 20px;
  top: 15px;
  position: absolute;
  margin: 5px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  display: none;
}
#nav-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #181818;
  border-radius: 3px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
#nav-icon span:nth-child(1) {
  top: 0px;
}
#nav-icon span:nth-child(2),
#nav-icon span:nth-child(3) {
  top: 18px;
}
#nav-icon span:nth-child(4) {
  top: 36px;
}
#nav-icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#nav-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
@keyframes logo-pulce {
  0%,
  100% {
    transform: scale(0.97);
  }
  50% {
    transform: scale(1.03);
  }
}
.header {
  top: 0;
  left: 0;
  right: 0;
  padding: 7px 0;
  height: 80px;
  position: sticky;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0);
  transition: all .3s;
}
.header .logo a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .logo a h2 {
  font-family: 'Dancing Script';
  font-size: 2.2rem;
  margin: 0;
  margin-left: 10px;
  opacity: 0.88;
}
.header .logo a img {
  height: 66px;
  width: auto;
  opacity: 0.9;
}
.header .main-menu {
  display: flex;
  align-items: center;
  margin-left: auto;
  transition: all 0.3s;
}
.header .main-menu ul {
  list-style-type: none;
  display: flex;
  margin: 10px 0 0;
  align-items: center;
  font-family: 'Comfortaa';
  font-size: 1rem;
}
.header .main-menu ul li {
  margin: 5px 15px;
}
.header .main-menu ul li a:hover {
  color: #A22F3C;
}
.header-on-scroll {
  opacity: 0.95;
  background-color: #FFF;
  box-shadow: 0px 0px 12px #c9fff5;
  transition: all .3s;
}
#start {
  overflow: hidden;
}
#start .header-img {
  background-size: auto;
  background-position: right top;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  opacity: 1;
}
#start .header-img .header-content {
  position: absolute;
  top: 33vh;
  left: 22%;
  width: 550px;
}
#start .header-img .header-content h2 {
  font-size: 3.5rem;
}
#start .header-img .header-content h1 {
  font-size: 1.5rem;
}
#services .grid .grid-item {
  display: block;
  margin-bottom: 30px;
}
#services .grid .grid-item .icon {
  text-align: center;
}
#services .grid .grid-item .icon img {
  width: 100%;
  height: auto;
  border-radius: 100%;
  box-shadow: 0px 0px 12px #c9fff5;
  transition: all 0.3s;
}
#services .grid .grid-item .icon img:hover {
  transform: translateY(-8px);
  transition: all 0.3s;
  cursor: pointer;
}
#services .grid .grid-item .details {
  margin-top: 20px;
  text-align: center;
}
#services .grid .grid-item .details .desc {
  font-size: 0.9rem;
}
#services .grid .grid-item .details p {
  font-size: 1.8rem;
}
@media (max-width: 4000px) {
  #services .grid .grid-item {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media (max-width: 991px) {
  #services .grid .grid-item {
    -ms-flex: 0 0 33.333%;
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
}
@media (max-width: 768px) {
  #services .grid .grid-item {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (max-width: 576px) {
  #services .grid .grid-item {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
#we-work .grid .grid-item {
  display: block;
  text-align: center;
  padding: 15px 15px;
}
#we-work .grid .grid-item .inner-content {
  background-image: linear-gradient(150deg, #FCC1C8, #fee3e6);
  border-radius: 100%;
  width: 290px;
  height: 290px;
  position: relative;
  margin: auto;
  box-shadow: 0px 0px 12px #c9fff5;
}
#we-work .grid .grid-item .inner-content img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.03;
}
#we-work .grid .grid-item .inner-content h3 {
  position: absolute;
  margin: 40px auto 0;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  padding: 30px 41px;
  line-height: 25px;
}
#portfolio-grid {
  position: relative;
  min-height: 55vw;
}
#portfolio-grid .imgload {
  background-image: url(img/loading.gif);
  background-color: #FFF;
  height: 100vh;
  width: 100%;
  top: 100px;
  left: 0;
  position: absolute;
  background-position: 50% 20%;
  background-repeat: no-repeat;
  background-size: 15%;
  z-index: 1;
  margin: auto;
}
#portfolio-grid #instafeed {
  height: 100vh;
}
#portfolio-grid #instafeed img {
  width: 25%;
  padding: 1px;
}
#testimonials .send-feedback {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 9px;
}
#testimonials .strong-view.default {
  padding: 0 15px;
}
#testimonials .strong-view.default .testimonial-inner {
  border: 0;
}
#testimonials .testimonial {
  padding: 5px;
  border: 0px solid #FCC1C8;
  border-radius: 15px;
  box-shadow: 0px 0px 12px #c9fff5;
}
#testimonials .testimonial .testimonial-image img {
  border: 1px solid #fee3e6;
  border-radius: 100%;
}
#about .text-block {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}
#about .img-block {
  display: flex;
  justify-content: center;
}
#about .img-block img {
  box-shadow: 0px 0px 12px #c9fff5;
  max-width: 400px;
  max-height: 400px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
#contacts {
  padding-bottom: 30px;
}
#contacts .goto-zapis {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 9px;
}
#contacts .text-block {
  display: block;
  padding-bottom: 30px;
}
#contacts .text-block .inner-content {
  box-shadow: 0px 0px 12px #c9fff5;
  background-color: #c9fff5;
  border-radius: 100%;
  width: 400px;
  height: 400px;
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contacts .text-block .inner-content .text {
  position: absolute;
  width: 170px;
  height: 185px;
  font-size: 1.2rem;
  line-height: 25px;
  margin: auto;
  text-align: center;
  z-index: 1;
}
#contacts .text-block .inner-content img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.03;
}
#contacts .map-block {
  padding: 0;
}
#contacts .map-block #map {
  width: 100%;
  height: 440px;
}
#contacts .map-block #map iframe {
  margin-bottom: -7px;
  width: 100%;
  height: 440px;
}
#massage {
  padding-bottom: 30px;
  height: 60vh;
}
#massage .msg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#massage .msg a {
  height: 50px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: #FFF;
  margin-bottom: 20px;
}
#massage .msg [class^=icon-]:before,
#massage .msg [class*=" icon-"]:before {
  margin-top: 0;
  font-size: 2.4rem;
}
#massage .msg .whatsapp {
  background-color: #009F01;
}
#massage .msg .vkontakte {
  background-color: #4872A3;
}
#massage .msg .phone {
  background-color: #126cd3;
}
#footer {
  background-image: linear-gradient(150deg, #FCC1C8, #fee3e6);
}
#footer .bottom-text {
  text-align: center;
  padding: 5px 0;
}
#footer .bottom-menu ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 10px 0 0;
  font-size: 1rem;
  padding: 0;
}
#footer .bottom-menu ul li {
  margin: 5px 15px;
}
#footer .bottom-menu ul li a:hover {
  color: #A22F3C;
}
#footer .logo a {
  margin-top: 35px;
  margin-left: 64%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#footer .logo a h2 {
  font-family: 'Dancing Script';
  font-size: 2.2rem;
  margin: 0;
  margin-left: 10px;
  opacity: 0.88;
}
#footer .logo a p {
  font-size: 10px;
  margin-left: 10px;
  text-align: center;
}
#footer .logo a img {
  height: 120px;
  width: auto;
  opacity: 0.9;
  margin-bottom: 5px;
}
#btn-up {
  display: none;
  position: fixed;
  bottom: 15px;
  left: 15px;
  height: 50px;
  width: 50px;
  font-size: 35px;
  color: #FFFFFF;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 19px 38px 0 rgba(34, 36, 43, 0.3);
  background-color: #FCC1C8;
  border-radius: 100%;
  transition: all .3s;
}
#btn-up:hover {
  background-color: #A22F3C;
  transition: all .3s;
}
#btn-up i {
  position: absolute;
  top: -1px;
  right: 7px;
  transition: all .3s;
}
#btn-up i:before {
  margin: auto!important;
}
section#error404 {
  min-height: 40vw;
  box-shadow: none;
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 30px;
}
section#error404 h2 {
  font-size: 200px;
  text-align: center;
  padding-bottom: 50px;
  border-bottom: 4px solid #c9fff5;
}
section#error404 div {
  padding-top: 50px;
  width: 320px;
  text-align: center;
  margin: 0 auto;
}
section#error404 div h3 {
  padding-bottom: 25px;
}
section#error404 div a {
  width: 100%;
  font-size: 16px;
  right: 0px;
}
@media (max-width: 991px) {
  .header .logo a h2 {
    font-size: 1.7rem;
  }
  .header .main-menu ul li {
    margin: 5px 5px;
    font-size: 0.9rem;
  }
}
@media (max-width: 767px) {
  .main .single img {
    float: none;
    margin: 15px 0px;
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  .rounds {
    transform: scale(0.8);
  }
  #nav-icon {
    display: block;
  }
  .header {
    background-color: #FFF;
    box-shadow: 0px 4px 4px #c9fff5;
  }
  .header .menu-wrap {
    flex-direction: column;
  }
  .header .logo {
    position: absolute;
    top: 5px;
    left: 15px;
  }
  .header .logo img {
    height: 70px;
  }
  .header .socials-top {
    position: absolute;
    right: 23%;
    top: -85px;
    font-size: 2.3rem;
  }
  .header .main-menu {
    justify-content: center;
    position: absolute;
    top: 80px;
    left: 0;
    background-color: #FFF;
    width: 100%;
    box-shadow: 0px 4px 4px #c9fff5;
    transition: all .3s;
  }
  .header .main-menu ul {
    margin: 0;
    align-items: center;
    font-size: 1rem;
    flex-direction: column;
    padding: 0px 0;
    padding-top: 0;
    transition: all .3s;
  }
  .header .main-menu ul li {
    margin: 0px 15px;
    margin-top: -120px;
    height: 0px;
    transition: all .6s;
  }
  .header .main-menu ul li a:hover {
    color: #A22F3C;
  }
  #start .header-img .header-content {
    top: 20vh;
    width: 60%;
  }
  #start .header-img .header-content h2 {
    font-size: 2.5rem;
  }
  #portfolio-grid #instafeed img {
    width: 25%;
  }
  #services .grid .grid-item .icon img {
    width: 100%;
    height: auto;
    max-width: 290px;
    border-radius: 100%;
    box-shadow: 0px 0px 12px #c9fff5;
    transition: all 0.3s;
  }
  #footer .bottom-menu {
    text-align: center;
  }
  #footer .logo a {
    margin-top: 35px;
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #footer .logo a h2 {
    font-family: 'Dancing Script';
    font-size: 2.2rem;
    margin: 0;
    margin-left: 10px;
    opacity: 0.88;
  }
  #footer .logo a p {
    font-size: 10px;
    margin-left: 0px;
    text-align: center;
  }
  #footer .console-container {
    padding-bottom: 15px;
  }
}
@media (max-width: 575px) {
  .header .logo a h2 {
    display: none;
  }
  .rounds {
    transform: scale(0.5);
  }
  #portfolio-grid #instafeed img {
    width: 50%;
  }
  #contacts .text-block {
    padding-bottom: 30px;
  }
  #contacts .text-block .inner-content {
    width: 290px;
    height: 290px;
  }
  #contacts .text-block .inner-content .text {
    font-size: 1.2rem;
    line-height: 25px;
  }
  #contacts .map-block {
    padding: 0 15px;
  }
  #testimonials .send-feedback {
    justify-content: center;
    margin-bottom: 9px;
  }
  #contacts .goto-zapis {
    justify-content: center;
    margin-bottom: 9px;
  }
}
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #c9fff5;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #FCC1C8;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #A22F3C;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes move-round-red {
  0%,
  100% {
    transform: translate(-3px, 0);
  }
  33% {
    transform: translate(6px, -3px);
  }
}
@keyframes move-round-pink {
  0%,
  100% {
    transform: translate(0, 0);
  }
  77% {
    transform: translate(-5px, -4px);
  }
}
/*
@keyframes move-round-green {
    0%, 100%   {
        transform: translate(0,-4px);
    }
    21% {
        transform: translate(-3px,3px);
    }
    45% {
        transform: translate(3px,-3px);
    }

}*/
@keyframes move-round-green {
  0%,
  100% {
    transform: scale(1.02);
  }
  50% {
    transform: scale(0.99);
  }
}
.console-container {
  font-size: 1em;
  text-align: center;
  color: #181818;
  margin: auto;
  padding-bottom: 15px;
}
.console-underscore {
  display: inline-block;
  position: relative;
  top: -0.14em;
  left: 10px;
}
